<%- include('./partials/head.ejs') %>

<%- include('./partials/nav.ejs') %>
  
  <div class="blogs content">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repellendus vitae ullam laudantium aut eum ab et impedit, nobis illum perferendis, velit assumenda voluptas doloribus quidem, natus illo odit cum!</p>
  </div>
  
<%- include('./partials/footer.ejs') %>